interactions:
- request:
    body: b"b'grant_type=client_credentials&client_id=11111111-1111-1111-1111-111111111111&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_secret=00000000000000000000000000000000000000000000&response_type=client_credentials'"
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://login.microsoftonline.com/11111111-1111-1111-1111-111111111111/oauth2/token
  response:
    body: {string: '{"token_type": "Bearer", "expires_in": "3599", "ext_expires_in":
        "0", "expires_on": "1498854895", "not_before": "1498850995", "resource": "https://management.core.windows.net/",
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourcegroups/azure-sample-group-virtual-machines?api-version=2017-05-10
  response:
    body: {string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines",
        "name": "azure-sample-group-virtual-machines", "location": "westus", "properties":
        {"provisioningState": "Succeeded"}, "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet?api-version=2017-06-01
  response:
    body: {string: '{"name": "azure-sample-vnet", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet",
        "etag": "W/\"12ce5ebb-2fdb-4f52-9a28-6d861f4d4bc7\"", "type": "Microsoft.Network/virtualNetworks",
        "location": "westus", "properties": {"provisioningState": "Updating", "resourceGuid":
        "9537c643-ee3c-4cbc-8a85-4c683f5507e9", "addressSpace": {"addressPrefixes":
        ["10.0.0.0/16"]}, "subnets": [], "virtualNetworkPeerings": []}, "access_token":
        "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/12215819-014d-4720-aab5-a16e71eaef9d?api-version=2017-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/12215819-014d-4720-aab5-a16e71eaef9d?api-version=2017-06-01
  response:
    body: {string: '{"status": "Succeeded", "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet?api-version=2017-06-01
  response:
    body: {string: '{"name": "azure-sample-subnet", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet",
        "etag": "W/\"0d1f9d86-4276-4325-9dde-9d25862009e4\"", "properties": {"provisioningState":
        "Updating", "addressPrefix": "10.0.0.0/24"}, "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/2e533e04-ab6c-464d-93b8-0dedf82a30a9?api-version=2017-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"ipConfigurations": [{"properties":
      {"subnet": {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet"}},
      "name": "azure-sample-ip-config"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic?api-version=2017-06-01
  response:
    body: {string: '{"name": "azure-sample-nic", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic",
        "etag": "W/\"7fbe3a1f-8971-4076-8b0d-7faa3763a033\"", "location": "westus",
        "properties": {"provisioningState": "Succeeded", "resourceGuid": "c47024e9-64c3-4141-b633-d1aadda3d376",
        "ipConfigurations": [{"name": "azure-sample-ip-config", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic/ipConfigurations/azure-sample-ip-config",
        "etag": "W/\"7fbe3a1f-8971-4076-8b0d-7faa3763a033\"", "properties": {"provisioningState":
        "Succeeded", "privateIPAddress": "10.0.0.4", "privateIPAllocationMethod":
        "Dynamic", "subnet": {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet"},
        "primary": true, "privateIPAddressVersion": "IPv4"}}], "dnsSettings": {"dnsServers":
        [], "appliedDnsServers": [], "internalDomainNameSuffix": "ipddpfj2304ezcufjrud4vih3b.dx.internal.cloudapp.net"},
        "enableAcceleratedNetworking": false, "enableIPForwarding": false}, "type":
        "Microsoft.Network/networkInterfaces", "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/bb7a681b-1acf-41ed-b526-886eedbd792a?api-version=2017-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "storageProfile": {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "16.04.0-LTS", "version": "latest"}}, "osProfile": {"computerName": "VmName",
      "adminUsername": "userlogin", "adminPassword": "Pa$$w0rd91"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic"}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName?api-version=2017-03-30
  response:
    body: {string: '{"error": {"code": "SkuNotAvailable", "message": "The requested
        tier for resource ''/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName''
        is currently not available in location ''westus'' for subscription ''74461683-a7e3-4bb4-82c6-f1dc77f97059''.
        Please try another tier or deploy to a different location."}, "access_token":
        "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQOjJEVklSVFVBTDoyRE1BQ0hJTkVTLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQOjJEVklSVFVBTDoyRE1BQ0hJTkVTLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
    status: {code: 202, message: Accepted}
[...]
