interactions:
- request:
    body: b"b'grant_type=client_credentials&client_id=11111111-1111-1111-1111-111111111111&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_secret=00000000000000000000000000000000000000000000&response_type=client_credentials'"
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://login.microsoftonline.com/11111111-1111-1111-1111-111111111111/oauth2/token
  response:
    body: {string: '{"token_type": "Bearer", "expires_in": "3599", "ext_expires_in":
        "0", "expires_on": "1498694265", "not_before": "1498690365", "resource": "https://management.core.windows.net/",
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourcegroups/azure-sample-group-virtual-machines?api-version=2017-05-10
  response:
    body: {string: '{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines",
        "name": "azure-sample-group-virtual-machines", "location": "westus", "properties":
        {"provisioningState": "Succeeded"}, "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet?api-version=2017-03-01
  response:
    body: {string: '{"name": "azure-sample-vnet", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet",
        "etag": "W/\"f417d869-a58e-4abe-bb61-4d61d235956f\"", "type": "Microsoft.Network/virtualNetworks",
        "location": "westus", "properties": {"provisioningState": "Updating", "resourceGuid":
        "9edb0c37-4b5a-4327-b23f-5fb82c3c924f", "addressSpace": {"addressPrefixes":
        ["10.0.0.0/16"]}, "subnets": [], "virtualNetworkPeerings": []}, "access_token":
        "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/964fcaaf-2557-44b6-86e7-f3d236816668?api-version=2017-03-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/964fcaaf-2557-44b6-86e7-f3d236816668?api-version=2017-03-01
  response:
    body: {string: '{"status": "Succeeded", "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet?api-version=2017-03-01
  response:
    body: {string: '{"name": "azure-sample-subnet", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet",
        "etag": "W/\"030b7a72-4da7-4acb-af87-677372acb9c8\"", "properties": {"provisioningState":
        "Updating", "addressPrefix": "10.0.0.0/24"}, "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/fe61d2a2-4649-4a80-a065-9ccdaafd35c4?api-version=2017-03-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"ipConfigurations": [{"properties":
      {"subnet": {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet"}},
      "name": "azure-sample-ip-config"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic?api-version=2017-03-01
  response:
    body: {string: '{"name": "azure-sample-nic", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic",
        "etag": "W/\"c89cc81c-71c0-41e1-ac76-8e1cdf1c6709\"", "location": "westus",
        "properties": {"provisioningState": "Succeeded", "resourceGuid": "7e6570db-6ece-4e2c-964d-4597002a307c",
        "ipConfigurations": [{"name": "azure-sample-ip-config", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic/ipConfigurations/azure-sample-ip-config",
        "etag": "W/\"c89cc81c-71c0-41e1-ac76-8e1cdf1c6709\"", "properties": {"provisioningState":
        "Succeeded", "privateIPAddress": "10.0.0.4", "privateIPAllocationMethod":
        "Dynamic", "subnet": {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/virtualNetworks/azure-sample-vnet/subnets/azure-sample-subnet"},
        "primary": true, "privateIPAddressVersion": "IPv4"}}], "dnsSettings": {"dnsServers":
        [], "appliedDnsServers": [], "internalDomainNameSuffix": "g2gnxhs0jmtuhmr5l42cypesjh.xx.internal.cloudapp.net"},
        "enableAcceleratedNetworking": false, "enableIPForwarding": false}, "type":
        "Microsoft.Network/networkInterfaces", "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Network/locations/westus/operations/248f4674-6891-4c11-b200-9322e266c2c5?api-version=2017-03-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "storageProfile": {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "16.04.0-LTS", "version": "latest"}}, "osProfile": {"computerName": "VmName",
      "adminUsername": "userlogin", "adminPassword": "Pa$$w0rd91"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic"}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"vmId": "c472f8ee-73f4-40bc-b0da-a23f99d1d4e1",
        "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"imageReference":
        {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "16.04.0-LTS",
        "version": "latest"}, "osDisk": {"osType": "Linux", "createOption": "FromImage",
        "caching": "ReadWrite", "managedDisk": {"storageAccountType": "Premium_LRS"}},
        "dataDisks": []}, "osProfile": {"computerName": "VmName", "adminUsername":
        "userlogin", "linuxConfiguration": {"disablePasswordAuthentication": false},
        "secrets": []}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic"}]},
        "provisioningState": "Creating"}, "type": "Microsoft.Compute/virtualMachines",
        "location": "westus", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName",
        "name": "VmName", "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/20d406c4-75fa-41e5-997a-1d4ad32f7f2b?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/20d406c4-75fa-41e5-997a-1d4ad32f7f2b?api-version=2016-04-30-preview
  response:
    body: {string: '{"startTime": "2017-06-28T22:58:28.6218461+00:00", "status": "InProgress",
        "name": "20d406c4-75fa-41e5-997a-1d4ad32f7f2b", "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/20d406c4-75fa-41e5-997a-1d4ad32f7f2b?api-version=2016-04-30-preview
  response:
    body: {string: '{"startTime": "2017-06-28T22:58:28.6218461+00:00", "endTime":
        "2017-06-28T23:00:18.0593228+00:00", "status": "Succeeded", "name": "20d406c4-75fa-41e5-997a-1d4ad32f7f2b",
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"vmId": "c472f8ee-73f4-40bc-b0da-a23f99d1d4e1",
        "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"imageReference":
        {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "16.04.0-LTS",
        "version": "latest"}, "osDisk": {"osType": "Linux", "name": "VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6",
        "createOption": "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType":
        "Premium_LRS", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6"},
        "diskSizeGB": 30}, "dataDisks": []}, "osProfile": {"computerName": "VmName",
        "adminUsername": "userlogin", "linuxConfiguration": {"disablePasswordAuthentication":
        false}, "secrets": []}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic"}]},
        "provisioningState": "Succeeded"}, "type": "Microsoft.Compute/virtualMachines",
        "location": "westus", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName",
        "name": "VmName", "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "tags": {"who-rocks": "python", "where": "on azure"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"vmId": "c472f8ee-73f4-40bc-b0da-a23f99d1d4e1",
        "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"imageR[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"creationData": {"createOption":
      "Empty"}, "diskSizeGB": 1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/mydatadisk1?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"creationData": {"createOption": "Empty"}, "diskSizeGB":
        1, "provisioningState": "Updating", "isArmResource": true}, "location": "westus",
        "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/DiskOperations/b6be0db1-eead-4e99-abec-d6b4e301afa3?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/DiskOperations/b6be0db1-eead-4e99-abec-d6b4e301afa3?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/DiskOperations/b6be0db1-eead-4e99-abec-d6b4e301afa3?api-version=2016-04-30-preview
  response:
    body: {string: '{"startTime": "2017-06-28T23:01:02.9448686+00:00", "endTime":
        "2017-06-28T23:01:03.054219+00:00", "status": "Succeeded", "properties": {"output":
        {"properties": {"accountType": "Standard_LRS", "creationData": {"createOption":
        "Empty"}, "diskSizeGB": 1, "timeCreated": "2017-06-28T23:01:02.9448686+00:00",
        "provisioningState": "Succeeded", "diskState": "Unattached"}, "type": "Microsoft.Compute/disks",
        "location": "westus", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/mydatadisk1",
        "name": "mydatadisk1"}}, "name": "b6be0db1-eead-4e99-abec-d6b4e301afa3", "access_token":
        "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "tags": {"who-rocks": "python", "where": "on azure"},
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS", "version": "latest"}, "osDisk": {"osType": "Linux", "name": "VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6",
      "caching": "ReadWrite", "createOption": "fromImage", "diskSizeGB": 30, "managedDisk":
      {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6",
      "storageAccountType": "Premium_LRS"}}, "dataDisks": [{"lun": 12, "name": "mydatadisk1",
      "createOption": "Attach", "managedDisk": {"id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/mydatadisk1"}}]},
      "osProfile": {"computerName": "VmName", "adminUsername": "userlogin", "linuxConfiguration":
      {"disablePasswordAuthentication": false}, "secrets": []}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/11111111-1111-1111-1111-111111[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName/deallocate?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/72b074ec-bb27-4648-890c-a83ab2a17fc1?api-version=2016-04-30-preview']
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/72b074ec-bb27-4648-890c-a83ab2a17fc1?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"accountType": "Premium_LRS", "osType": "Linux",
        "creationData": {"createOption": "FromImage", "imageReference": {"id": "/Subscriptions/11111111-1111-1111-1111-111111111111/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04.0-LTS/Versions/latest"}},
        "diskSizeGB": 30, "timeCreated": "2017-06-28T22:58:37.7180856+00:00", "ownerId":
        "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName",
        "provisioningState": "Succeeded", "diskState": "Reserved"}, "type": "Microsoft.Compute/disks",
        "location": "westus", "id": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6",
        "name": "VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6", "access_token":
        "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"accountType": "Premium_LRS", "osType":
      "Linux", "creationData": {"createOption": "FromImage", "imageReference": {"id":
      "/Subscriptions/11111111-1111-1111-1111-111111111111/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04.0-LTS/Versions/latest"}},
      "diskSizeGB": 40}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/disks/VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6?api-version=2016-04-30-preview
  response:
    body: {string: '{"properties": {"accountType": "Premium_LRS", "osType": "Linux",
        "creationData": {"createOption": "FromImage", "imageReference": {"id": "/Subscriptions/11111111-1111-1111-1111-111111111111/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04.0-LTS/Versions/latest"}},
        "diskSizeGB": 40, "ownerId": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName",
        "provisioningState": "Updating", "isArmResource": true, "osState": "Generalized",
        "faultDomain": 0}, "location": "westus", "access_token": "fake_token"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/DiskOperations/618e19d2-d2fd-45ad-af48-c31321d5afb4?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/DiskOperations/618e19d2-d2fd-45ad-af48-c31321d5afb4?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName/start?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/0aceaaeb-114a-4402-b355-1a90b3dcf700?api-version=2016-04-30-preview']
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/0aceaaeb-114a-4402-b355-1a90b3dcf700?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName/restart?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/86f163ea-2a22-4b2a-bc3f-f669f9750199?api-version=2016-04-30-preview']
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/86f163ea-2a22-4b2a-bc3f-f669f9750199?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName/powerOff?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/155b5e59-36a0-451d-abc3-5188efcd64c1?api-version=2016-04-30-preview']
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/locations/westus/operations/155b5e59-36a0-451d-abc3-5188efcd64c1?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/providers/Microsoft.Compute/virtualMachines?api-version=2016-04-30-preview
  response:
    body: {string: '{"value": [{"properties": {"vmId": "c472f8ee-73f4-40bc-b0da-a23f99d1d4e1",
        "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"imageReference":
        {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "16.04.0-LTS",
        "version": "latest"}, "osDisk": {"osType": "Linux", "name": "VmName_OsDisk_1_2e9123ab230c402f8f8614584745e6b6",
        "createOption": "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType":
        "Premium_LRS", "id": "/subscri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines?api-version=2016-04-30-preview
  response:
    body: {string: '{"value": [{"properties": {"vmId": "c472f8ee-73f4-40bc-b0da-a23f99d1d4e1",
        "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storagePro[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "storageProfile": {"imageReference": {"publisher": "MicrosoftWindowsServerEssentials",
      "offer": "WindowsServerEssentials", "sku": "WindowsServerEssentials", "version":
      "latest"}}, "osProfile": {"computerName": "VmName", "adminUsername": "userlogin",
      "adminPassword": "Pa$$w0rd91"}, "networkProfile": {"networkInterfaces": [{"id":
      "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Network/networkInterfaces/azure-sample-nic"}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/azure-sample-group-virtual-machines/providers/Microsoft.Compute/virtualMachines/VmName?api-version=2016-04-30-preview
  response:
    body: {string: '{"error": {"code": "ImageNotFound", "target": "imageReference",
        "message": "The platform image ''MicrosoftWindowsServerEssentials:WindowsServerEssentials:WindowsServerEssentials:latest''
        is not available. Verify that all fields in the storage profile are correct."},
        "access_token": "fake_token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQOjJEVklSVFVBTDoyRE1BQ0hJTkVTLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/11111111-1111-1111-1111-111111111111/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlVSRToyRFNBTVBMRToyREdST1VQOjJEVklSVFVBTDoyRE1BQ0hJTkVTLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2017-05-10']
    status: {code: 202, message: Accepted}
[...]
